# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log
yarn.lock
shrinkwrap.yaml

# development
.eslintcache
tsconfig.tsbuildinfo

# project specific
*.sfv
!/test/**/*.sfv
*.sfvx
!/test/**/*.sfvx
test.js
test.ts
todo.md
