name: "CI: Deno"

on:
  push:
    paths:
      - ".github/workflows/ci-deno.yml"
      - "tests/**"
      - "types/**"
      - "src/**"
      - "package.json"
      - "pnpm-lock.yaml"
  pull_request:
    paths:
      - ".github/workflows/ci-deno.yml"
      - "tests/**"
      - "types/**"
      - "src/**"
      - "package.json"
      - "pnpm-lock.yaml"
  workflow_dispatch:

jobs:
  default:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        deno-version: ["2.x"]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 10

      - uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Install dependencies
        run: deno install

      - name: Lint Source
        run: deno lint --rules-exclude=no-explicit-any --ignore=node_modules src/*.ts

      - name: Run Tests
        run: deno run --allow-all --unstable-sloppy-imports npm:vitest tests
